This notebook will pull from the FPL API the weekly results for each player and store it in a dictionary

In [23]:
import pandas as pd
import numpy as np
import requests
import time

In [24]:
top500 = pd.read_csv('top500.csv')
top500.head()

,id,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,...,threat,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,215,9,10,254,100.0,100.0,4,61366,1,-1,...,187.0,66,2505942,142953,1345718,5028,0.4,6.5,De Bruyne,0
1,210,3,6,255,NaN,NaN,2,37572,0,0,...,392.0,61,1224727,18537,604686,52578,0.2,5.0,Agüero,0
2,192,2,8,167,100.0,100.0,3,110979,0,0,...,264.0,59,1647694,63890,660333,11609,0.4,5.0,Mané,0
3,11,1,10,222,NaN,NaN,2,54694,0,0,...,392.0,57,1051366,54314,896197,16879,0.4,5.1,Aubameyang,2
4,460,0,11,201,100.0,100.0,2,173879,1,-1,...,395.0,56,3157417,62365,391462,17735,0.5,7.3,Abraham,2

In [13]:
histories = {}

ids = top500['id']

for id_ in ids:
    url = 'https://fantasy.premierleague.com/api/element-summary/' + str(id_) + '/'
    r = requests.get(url)
    player_data = r.json()
    player_history = player_data['history']
    histories[id_] = player_history

In [14]:
history_dfs = {}

for key in histories:
    history_dfs[key] = pd.DataFrame(histories[key])
    history_dfs[key]['id_'] = key

In [15]:
type(history_dfs)

dict

In [16]:
top500histories = pd.concat(history_dfs.values(), ignore_index=True)
top500histories.head()

,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,id_
0,1,1,37,1,37.4,215,8,0,0,10.2,...,0,27.0,7,0,0,0,95,False,0,215
1,2,3,44,0,127.7,215,16,2,0,22.5,...,2,38.0,11,2049,81457,79408,95,True,0,215
2,1,0,22,0,42.3,215,22,1,0,7.6,...,1,16.0,5,460538,510105,49567,96,False,0,215
3,1,2,41,1,26.7,215,37,0,1,11.4,...,4,27.0,13,293070,373295,80225,97,True,0,215
4,0,0,6,0,36.8,215,46,0,0,4.8,...,3,2.0,1,399792,438722,38930,98,False,0,215

In [22]:
top500histories.to_csv('top500histories.csv')